In [1]:
import pandas as pd

In [2]:
solar_df = pd.read_csv("../../Resources/Datasets/solar_data_predictions.csv")
solar_df = solar_df.drop(["Unnamed: 0"],1)
solar_df

,TIMESTAMP,Year,Month,Day,Hour,Minute,GHI,DHI,DNI,Wind_Speed,...,Cloud_Type,Solar_Zenith_Angle,Surface_Albedo,Wind_Direction,Pressure,Relative_Humidity,Precipitable_Water,Voltage_Output,Array_Tilt,Voltage_Predictions
0,2015-01-01 00:30:00,2015.0,1.0,1.0,0.0,30.0,0.0,0.0,0.0,1.6,...,0.0,163.45,0.129,254.0,1000.0,73.50,0.381,21.00,5,22.051683
1,2015-01-01 02:00:00,2015.0,1.0,1.0,2.0,0.0,0.0,0.0,0.0,1.7,...,0.0,152.03,0.129,235.4,1000.0,73.72,0.380,20.96,5,21.199420
2,2015-01-01 03:30:00,2015.0,1.0,1.0,3.0,30.0,0.0,0.0,0.0,1.6,...,0.0,135.31,0.129,234.2,1000.0,74.25,0.381,21.16,5,20.675924
3,2015-01-01 04:00:00,2015.0,1.0,1.0,4.0,0.0,0.0,0.0,0.0,1.6,...,0.0,129.51,0.129,232.1,1000.0,80.47,0.382,20.72,5,20.714290
4,2015-01-01 10:30:00,2015.0,1.0,1.0,10.0,30.0,416.0,64.0,885.0,3.7,...,0.0,66.57,0.129,233.7,1000.0,51.62,0.424,384.20,5,380.764000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157650,2018-03-18 10:00:00,2018.0,3.0,18.0,10.0,0.0,679.0,78.0,951.0,3.2,...,0.0,50.77,0.130,341.0,1002.0,0.70,42.070,363.60,10,368.913850
157651,2018-03-18 11:30:00,2018.0,3.0,18.0,11.0,30.0,827.0,80.0,995.0,2.8,...,0.0,41.34,0.130,334.0,1001.0,0.70,38.250,344.30,10,353.472020
157652,2018-03-18 12:00:00,2018.0,3.0,18.0,12.0,0.0,845.0,80.0,1000.0,2.7,...,0.0,40.09,0.130,331.0,1001.0,0.70,38.780,335.00,10,350.813450
157653,2018-03-18 17:30:00,2018.0,3.0,18.0,17.0,30.0,122.0,38.0,552.0,0.8,...,0.0,81.28,0.130,300.0,998.0,0.70,66.090,370.60,10,372.384670
157654,2018-03-18 18:30:00,2018.0,3.0,18.0,18.0,30.0,0.0,0.0,0.0,0.9,...,0.0,92.98,0.130,298.0,998.0,0.70,53.830,280.00,10,265.923950

In [3]:
solar_df.columns

Index(['TIMESTAMP', 'Year', 'Month', 'Day', 'Hour', 'Minute', 'GHI', 'DHI',
       'DNI', 'Wind_Speed', 'Temperature', 'Cloud_Type', 'Solar_Zenith_Angle',
       'Surface_Albedo', 'Wind_Direction', 'Pressure', 'Relative_Humidity',
       'Precipitable_Water', 'Voltage_Output', 'Array_Tilt',
       'Voltage_Predictions'],
      dtype='object')

In [4]:
solar_df['Array_Tilt'].value_counts()

5     69126
20    62298
10    26231
Name: Array_Tilt, dtype: int64

In [5]:
voltage_df = solar_df[['TIMESTAMP', 'Array_Tilt', 'Voltage_Predictions']]
voltage_df

                  TIMESTAMP  Array_Tilt  Voltage_Predictions
0       2015-01-01 00:30:00           5            22.051683
1       2015-01-01 02:00:00           5            21.199420
2       2015-01-01 03:30:00           5            20.675924
3       2015-01-01 04:00:00           5            20.714290
4       2015-01-01 10:30:00           5           380.764000
...                     ...         ...                  ...
157650  2018-03-18 10:00:00          10           368.913850
157651  2018-03-18 11:30:00          10           353.472020
157652  2018-03-18 12:00:00          10           350.813450
157653  2018-03-18 17:30:00          10           372.384670
157654  2018-03-18 18:30:00          10           265.923950

[157655 rows x 3 columns]

In [6]:
ground_mask = solar_df['Array_Tilt'] == 20
roof_mask = solar_df['Array_Tilt'] == 10
canopy_mask = solar_df['Array_Tilt'] == 5

In [7]:
features_df = solar_df.drop(['Voltage_Output', 'Array_Tilt', 'Voltage_Predictions'],1)
features_df = features_df.drop_duplicates()
features_df = features_df.set_index('TIMESTAMP')

ground_df = solar_df[ground_mask]
ground_df = ground_df[['TIMESTAMP','Voltage_Output', 'Array_Tilt', 'Voltage_Predictions']]

roof_df = solar_df[roof_mask]
roof_df = roof_df[['TIMESTAMP', 'Voltage_Output', 'Array_Tilt', 'Voltage_Predictions']]

canopy_df = solar_df[canopy_mask]
canopy_df = canopy_df[['TIMESTAMP', 'Voltage_Output', 'Array_Tilt', 'Voltage_Predictions']]

In [8]:
features_df

,Year,Month,Day,Hour,Minute,GHI,DHI,DNI,Wind_Speed,Temperature,Cloud_Type,Solar_Zenith_Angle,Surface_Albedo,Wind_Direction,Pressure,Relative_Humidity,Precipitable_Water
TIMESTAMP,,,,,,,,,,,,,,,,,
2015-01-01 00:30:00,2015.0,1.0,1.0,0.0,30.0,0.0,0.0,0.0,1.6,-3.0,0.0,163.45,0.129,254.0,1000.0,73.50,0.381
2015-01-01 02:00:00,2015.0,1.0,1.0,2.0,0.0,0.0,0.0,0.0,1.7,-3.0,0.0,152.03,0.129,235.4,1000.0,73.72,0.380
2015-01-01 03:30:00,2015.0,1.0,1.0,3.0,30.0,0.0,0.0,0.0,1.6,-3.0,0.0,135.31,0.129,234.2,1000.0,74.25,0.381
2015-01-01 04:00:00,2015.0,1.0,1.0,4.0,0.0,0.0,0.0,0.0,1.6,-4.0,0.0,129.51,0.129,232.1,1000.0,80.47,0.382
2015-01-01 10:30:00,2015.0,1.0,1.0,10.0,30.0,416.0,64.0,885.0,3.7,1.0,0.0,66.57,0.129,233.7,1000.0,51.62,0.424
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-10-29 21:30:00,2018.0,10.0,29.0,21.0,30.0,0.0,0.0,0.0,1.4,5.2,0.0,139.64,0.120,275.0,1003.0,1.30,96.470
2015-06-15 05:30:00,2015.0,6.0,15.0,5.0,30.0,36.0,36.0,0.0,1.4,22.0,7.0,82.64,0.150,257.1,1000.0,100.00,5.025
2015-06-15 06:30:00,2015.0,6.0,15.0,6.0,30.0,166.0,120.0,146.0,1.7,23.0,8.0,71.70,0.150,257.1,1000.0,97.98,5.096
2015-06-15 07:00:00,2015.0,6.0,15.0,7.0,0.0,121.0,121.0,0.0,1.8,24.0,4.0,66.05,0.150,254.1,1000.0,96.96,5.134
2015-06-15 13:00:00,2015.0,6.0,15.0,13.0,0.0,762.0,434.0,347.0,2.8,29.0,8.0,19.11,0.150,269.4,990.0,70.68,5.539

In [9]:
df_1 = pd.merge(features_df, ground_df, on='TIMESTAMP', how='left')
df_1

,TIMESTAMP,Year,Month,Day,Hour,Minute,GHI,DHI,DNI,Wind_Speed,...,Cloud_Type,Solar_Zenith_Angle,Surface_Albedo,Wind_Direction,Pressure,Relative_Humidity,Precipitable_Water,Voltage_Output,Array_Tilt,Voltage_Predictions
0,2015-01-01 00:30:00,2015.0,1.0,1.0,0.0,30.0,0.0,0.0,0.0,1.6,...,0.0,163.45,0.129,254.0,1000.0,73.50,0.381,8.250,20.0,7.342989
1,2015-01-01 02:00:00,2015.0,1.0,1.0,2.0,0.0,0.0,0.0,0.0,1.7,...,0.0,152.03,0.129,235.4,1000.0,73.72,0.380,6.432,20.0,7.359096
2,2015-01-01 03:30:00,2015.0,1.0,1.0,3.0,30.0,0.0,0.0,0.0,1.6,...,0.0,135.31,0.129,234.2,1000.0,74.25,0.381,5.049,20.0,7.055481
3,2015-01-01 04:00:00,2015.0,1.0,1.0,4.0,0.0,0.0,0.0,0.0,1.6,...,0.0,129.51,0.129,232.1,1000.0,80.47,0.382,4.933,20.0,6.896360
4,2015-01-01 10:30:00,2015.0,1.0,1.0,10.0,30.0,416.0,64.0,885.0,3.7,...,0.0,66.57,0.129,233.7,1000.0,51.62,0.424,367.500,20.0,373.502840
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69609,2018-10-29 21:30:00,2018.0,10.0,29.0,21.0,30.0,0.0,0.0,0.0,1.4,...,0.0,139.64,0.120,275.0,1003.0,1.30,96.470,4.024,20.0,5.973311
69610,2015-06-15 05:30:00,2015.0,6.0,15.0,5.0,30.0,36.0,36.0,0.0,1.4,...,7.0,82.64,0.150,257.1,1000.0,100.00,5.025,NaN,NaN,NaN
69611,2015-06-15 06:30:00,2015.0,6.0,15.0,6.0,30.0,166.0,120.0,146.0,1.7,...,8.0,71.70,0.150,257.1,1000.0,97.98,5.096,NaN,NaN,NaN
69612,2015-06-15 07:00:00,2015.0,6.0,15.0,7.0,0.0,121.0,121.0,0.0,1.8,...,4.0,66.05,0.150,254.1,1000.0,96.96,5.134,NaN,NaN,NaN
69613,2015-06-15 13:00:00,2015.0,6.0,15.0,13.0,0.0,762.0,434.0,347.0,2.8,...,8.0,19.11,0.150,269.4,990.0,70.68,5.539,NaN,NaN,NaN

In [10]:
df_2 = pd.merge(df_1, roof_df, on='TIMESTAMP', how='left')
df_2

,TIMESTAMP,Year,Month,Day,Hour,Minute,GHI,DHI,DNI,Wind_Speed,...,Wind_Direction,Pressure,Relative_Humidity,Precipitable_Water,Voltage_Output_x,Array_Tilt_x,Voltage_Predictions_x,Voltage_Output_y,Array_Tilt_y,Voltage_Predictions_y
0,2015-01-01 00:30:00,2015.0,1.0,1.0,0.0,30.0,0.0,0.0,0.0,1.6,...,254.0,1000.0,73.50,0.381,8.250,20.0,7.342989,NaN,NaN,NaN
1,2015-01-01 02:00:00,2015.0,1.0,1.0,2.0,0.0,0.0,0.0,0.0,1.7,...,235.4,1000.0,73.72,0.380,6.432,20.0,7.359096,NaN,NaN,NaN
2,2015-01-01 03:30:00,2015.0,1.0,1.0,3.0,30.0,0.0,0.0,0.0,1.6,...,234.2,1000.0,74.25,0.381,5.049,20.0,7.055481,NaN,NaN,NaN
3,2015-01-01 04:00:00,2015.0,1.0,1.0,4.0,0.0,0.0,0.0,0.0,1.6,...,232.1,1000.0,80.47,0.382,4.933,20.0,6.896360,NaN,NaN,NaN
4,2015-01-01 10:30:00,2015.0,1.0,1.0,10.0,30.0,416.0,64.0,885.0,3.7,...,233.7,1000.0,51.62,0.424,367.500,20.0,373.502840,383.2,10.0,378.72446
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69609,2018-10-29 21:30:00,2018.0,10.0,29.0,21.0,30.0,0.0,0.0,0.0,1.4,...,275.0,1003.0,1.30,96.470,4.024,20.0,5.973311,NaN,NaN,NaN
69610,2015-06-15 05:30:00,2015.0,6.0,15.0,5.0,30.0,36.0,36.0,0.0,1.4,...,257.1,1000.0,100.00,5.025,NaN,NaN,NaN,15.1,10.0,320.79022
69611,2015-06-15 06:30:00,2015.0,6.0,15.0,6.0,30.0,166.0,120.0,146.0,1.7,...,257.1,1000.0,97.98,5.096,NaN,NaN,NaN,360.5,10.0,345.52017
69612,2015-06-15 07:00:00,2015.0,6.0,15.0,7.0,0.0,121.0,121.0,0.0,1.8,...,254.1,1000.0,96.96,5.134,NaN,NaN,NaN,345.1,10.0,342.79172
69613,2015-06-15 13:00:00,2015.0,6.0,15.0,13.0,0.0,762.0,434.0,347.0,2.8,...,269.4,990.0,70.68,5.539,NaN,NaN,NaN,302.6,10.0,316.34940

In [13]:
df_3 = pd.merge(df_2, canopy_df, on='TIMESTAMP', how='left')
df_3 = df_3.set_index('TIMESTAMP')
df_3

,Year,Month,Day,Hour,Minute,GHI,DHI,DNI,Wind_Speed,Temperature,...,Precipitable_Water,Voltage_Output_x,Array_Tilt_x,Voltage_Predictions_x,Voltage_Output_y,Array_Tilt_y,Voltage_Predictions_y,Voltage_Output,Array_Tilt,Voltage_Predictions
TIMESTAMP,,,,,,,,,,,,,,,,,,,,,
2015-01-01 00:30:00,2015.0,1.0,1.0,0.0,30.0,0.0,0.0,0.0,1.6,-3.0,...,0.381,8.250,20.0,7.342989,NaN,NaN,NaN,21.00,5.0,22.051683
2015-01-01 02:00:00,2015.0,1.0,1.0,2.0,0.0,0.0,0.0,0.0,1.7,-3.0,...,0.380,6.432,20.0,7.359096,NaN,NaN,NaN,20.96,5.0,21.199420
2015-01-01 03:30:00,2015.0,1.0,1.0,3.0,30.0,0.0,0.0,0.0,1.6,-3.0,...,0.381,5.049,20.0,7.055481,NaN,NaN,NaN,21.16,5.0,20.675924
2015-01-01 04:00:00,2015.0,1.0,1.0,4.0,0.0,0.0,0.0,0.0,1.6,-4.0,...,0.382,4.933,20.0,6.896360,NaN,NaN,NaN,20.72,5.0,20.714290
2015-01-01 10:30:00,2015.0,1.0,1.0,10.0,30.0,416.0,64.0,885.0,3.7,1.0,...,0.424,367.500,20.0,373.502840,383.2,10.0,378.72446,384.20,5.0,380.764000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-10-29 21:30:00,2018.0,10.0,29.0,21.0,30.0,0.0,0.0,0.0,1.4,5.2,...,96.470,4.024,20.0,5.973311,NaN,NaN,NaN,NaN,NaN,NaN
2015-06-15 05:30:00,2015.0,6.0,15.0,5.0,30.0,36.0,36.0,0.0,1.4,22.0,...,5.025,NaN,NaN,NaN,15.1,10.0,320.79022,NaN,NaN,NaN
2015-06-15 06:30:00,2015.0,6.0,15.0,6.0,30.0,166.0,120.0,146.0,1.7,23.0,...,5.096,NaN,NaN,NaN,360.5,10.0,345.52017,NaN,NaN,NaN
2015-06-15 07:00:00,2015.0,6.0,15.0,7.0,0.0,121.0,121.0,0.0,1.8,24.0,...,5.134,NaN,NaN,NaN,345.1,10.0,342.79172,NaN,NaN,NaN
2015-06-15 13:00:00,2015.0,6.0,15.0,13.0,0.0,762.0,434.0,347.0,2.8,29.0,...,5.539,NaN,NaN,NaN,302.6,10.0,316.34940,NaN,NaN,NaN

In [14]:
df_3.to_csv('sd_timestamps_predictions.csv')