In [26]:
import pandas as pd
import numpy as np
import re
from sqlalchemy import create_engine
from config import password

In [27]:
engine = create_engine(f'postgresql://postgres:{password}@localhost:5432/SolarDB')

In [29]:
solar_db = pd.read_sql_query('SELECT * FROM solar_data ;', engine)
solar_db

,TIMESTAMP,Year,Month,Day,Hour,Minute,GHI,DHI,DNI,Wind Speed,...,Wind Direction,Pressure,Relative Humidity,Precipitable Water,gInvVDCin_Avg,gArray_Tilt,rInvVDCin_Avg,rArray_Tilt,cInvVDCin_Avg,cArray_Tilt
0,2015-01-01 00:30:00,2015,1,1,0,30,0.0,0.0,0.0,1.6,...,254.0,1000.0,73.50,0.381,8.250,20,-1.333,10,21.00,5
1,2015-01-01 01:00:00,2015,1,1,1,0,0.0,0.0,0.0,1.6,...,242.9,1000.0,73.68,0.385,7.693,20,-1.650,10,20.99,5
2,2015-01-01 01:30:00,2015,1,1,1,30,0.0,0.0,0.0,1.6,...,242.9,1000.0,73.67,0.382,7.174,20,-1.200,10,21.03,5
3,2015-01-01 02:00:00,2015,1,1,2,0,0.0,0.0,0.0,1.7,...,235.4,1000.0,73.72,0.380,6.432,20,-1.600,10,20.96,5
4,2015-01-01 02:30:00,2015,1,1,2,30,0.0,0.0,0.0,1.7,...,235.4,1000.0,73.71,0.380,5.833,20,-1.067,10,21.11,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51198,2018-03-18 19:00:00,2018,3,18,19,0,0.0,0.0,0.0,0.8,...,289.0,999.0,0.70,55.840,6.617,20,-1.850,10,21.21,5
51199,2018-03-18 19:30:00,2018,3,18,19,30,0.0,0.0,0.0,0.9,...,283.0,999.0,0.70,57.400,2.117,20,-1.700,10,21.43,5
51200,2018-03-18 21:00:00,2018,3,18,21,0,0.0,0.0,0.0,1.1,...,266.0,998.0,0.60,63.000,2.818,20,-1.450,10,21.15,5
51201,2018-03-18 23:00:00,2018,3,18,23,0,0.0,0.0,0.0,1.3,...,283.0,998.0,0.70,73.570,3.357,20,-1.700,10,21.13,5
51202,2018-03-18 23:30:00,2018,3,18,23,30,0.0,0.0,0.0,1.3,...,291.0,998.0,0.70,75.160,3.374,20,-1.767,10,21.04,5