In [1]:
# import processing libraries and dependencies
# dataframe tools and square root function to calculate rmse
import pandas as pd
from math import sqrt

# import ml tools to build model
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPRegressor
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score

# connection to database connection to PostgreSQL
from sqlalchemy import create_engine
from Config import password

# Ignore non-fatal warning messages
import warnings
warnings.filterwarnings("ignore")

In [2]:
# create sqlalchemy connection to PostgreSQL
alchemy_engine = create_engine(f'postgresql://postgres:{password}@localhost:5432/SolarDB')

In [3]:
# create input dataframe from PSQL SELECT statement by selecting non null rows and non negative voltage output
input_df = pd.read_sql_query('SELECT * FROM solar_data_v2 WHERE solar_data_v2 is not NULL AND "InvVDCin_Avg" >= 0;', alchemy_engine)

# removing timestammp as it will not have relevance for the dataset; rename columns that do not have an underscore in their name
input_df = input_df.rename({"InvVDCin_Avg":"Voltage_Output"}, axis=1)
input_df = input_df.rename({"Cloud Type":"Cloud_Type"}, axis=1)
input_df = input_df.drop("TIMESTAMP", axis=1)

# ensure dataframe is all float data type for running model
input_df = input_df.astype("float64")
input_df

,Year,Month,Day,Hour,Minute,GHI,DHI,DNI,Wind_Speed,Temperature,Cloud_Type,Solar_Zenith_Angle,Surface_Albedo,Wind_Direction,Pressure,Relative_Humidity,Precipitable_Water,Voltage_Output,Array_Tilt
0,2015.0,1.0,1.0,0.0,30.0,0.0,0.0,0.0,1.6,-3.0,0.0,163.45,0.129,254.0,1000.0,73.50,0.381,21.00,5.0
1,2015.0,1.0,1.0,2.0,0.0,0.0,0.0,0.0,1.7,-3.0,0.0,152.03,0.129,235.4,1000.0,73.72,0.380,20.96,5.0
2,2015.0,1.0,1.0,3.0,30.0,0.0,0.0,0.0,1.6,-3.0,0.0,135.31,0.129,234.2,1000.0,74.25,0.381,21.16,5.0
3,2015.0,1.0,1.0,4.0,0.0,0.0,0.0,0.0,1.6,-4.0,0.0,129.51,0.129,232.1,1000.0,80.47,0.382,20.72,5.0
4,2015.0,1.0,1.0,10.0,30.0,416.0,64.0,885.0,3.7,1.0,0.0,66.57,0.129,233.7,1000.0,51.62,0.424,384.20,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159529,2018.0,3.0,18.0,10.0,0.0,679.0,78.0,951.0,3.2,6.8,0.0,50.77,0.130,341.0,1002.0,0.70,42.070,363.60,10.0
159530,2018.0,3.0,18.0,11.0,30.0,827.0,80.0,995.0,2.8,9.3,0.0,41.34,0.130,334.0,1001.0,0.70,38.250,344.30,10.0
159531,2018.0,3.0,18.0,12.0,0.0,845.0,80.0,1000.0,2.7,10.0,0.0,40.09,0.130,331.0,1001.0,0.70,38.780,335.00,10.0
159532,2018.0,3.0,18.0,17.0,30.0,122.0,38.0,552.0,0.8,8.2,0.0,81.28,0.130,300.0,998.0,0.70,66.090,370.60,10.0
159533,2018.0,3.0,18.0,18.0,30.0,0.0,0.0,0.0,0.9,7.3,0.0,92.98,0.130,298.0,998.0,0.70,53.830,280.00,10.0

In [4]:
# select target column; assign to 'y'; drop column from input features; capture number of feature columns
y = input_df["Voltage_Output"].values
X = input_df.drop(["Voltage_Output"],1).values
input_features = (len(input_df.columns)-1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state=27)

In [5]:
# Initialize and fit the scaler object
scaler = StandardScaler()

# assign X features to training and testing sets; also capture full input columns to verify predictions
full_x = scaler.fit_transform(X)
train_scaled = scaler.fit_transform(X_train)
test_scaled = scaler.transform(X_test)

In [6]:
# assign machine learning model MPRegressor as type
model = MLPRegressor()

In [7]:
# run training routine
model.fit(train_scaled, y_train)

MLPRegressor()

In [8]:
# examine original output column
input_df["Voltage_Output"][25:34]

25     20.98
26     21.05
27     20.98
28    374.20
29    366.10
30    397.10
31    377.10
32    387.80
33    377.00
Name: Voltage_Output, dtype: float64

In [9]:
# examin same rows of predicted output column to see results
model.predict(full_x[25:34])

array([ 19.44155157,  17.92296214,  24.93610332, 348.93949045,
       376.30754423, 377.28597768, 381.78172917, 387.36270182,
       384.60402398])

In [10]:
# determine mse and mae of training datasets
mse = mean_squared_error(y_train, model.predict(train_scaled))
mae = mean_absolute_error(y_train, model.predict(train_scaled))

# show training stats
print("mse = ",mse," & mae = ",mae," & rmse = ", sqrt(mse))

In [12]:
# determine mse and mae of test datasets
test_mse = mean_squared_error(y_test, model.predict(test_scaled))
test_mae = mean_absolute_error(y_test, model.predict(test_scaled))

# show test stats
print("mse = ",test_mse," & mae = ",test_mae," & rmse = ", sqrt(test_mse))

mse =  1357.4309237394248  & mae =  16.821347263754813  & rmse =  36.84332943341881

In [13]:
# calculate R-Squared score and display 
R_squared = r2_score(y_train, model.predict(train_scaled))
R_squared

0.9533829704884105